@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body,
html {
  font-size: 25px;
  font-family: 'Noto Sans KR', sans-serif;
}

input,
button {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  background: white;
  padding: 0.4rem;
  border: none;
}

input:hover,
input:focus {
  outline: none;
  border-bottom-color: #0078ff;
}

.app-wrapper {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.remove-bt {
  font-size: 17px;
  background: #ff707e;
  padding: 0.2rem;
  color: white;
  border-radius: 5px;
}

.create-bt {
  background: #0078ff;
  border: none;
  border-radius: 5px;
  color: white;
}

.create-title {
  width: 350px;
  border: none;
  border-bottom: 2px solid #bbb;
}

.todo-title {
  display: inline-block;
  width: 350px;
}

.todo-wrapper {
  padding-top: 8px;
}
